<div class="cards-container">
  <div class="cards">
    <div class="card card-1">
      <div class="content">
        <div class="img"><img src="assets/icons/html-prev.png" alt="" /></div>
        <p>Html & CSS</p>
        <div>
          <button class="hover-animation" routerLink="/html">Explore</button>
        </div>
      </div>
    </div>
    <div class="card card-2">
      <div class="content">
        <div class="img"><img src="assets/icons/js-prev.png" alt="" /></div>
        <p>Javascript</p>
        <div><button class="hover-animation">Explore</button></div>
      </div>
    </div>
    <div class="card card-3">
      <div class="content">
        <div class="img"><img src="assets/icons/java-prev.png" alt="" /></div>
        <p>Java</p>
        <div><button class="hover-animation">Explore</button></div>
      </div>
    </div>
    <div class="card card-4">
      <div class="content">
        <div class="img"><img src="assets/icons/python-prev.png" alt="" /></div>
        <p>Python</p>
        <div><button class="hover-animation">Explore</button></div>
      </div>
    </div>
    <div class="card card-5">
      <div class="content">
        <div class="img"><img src="assets/icons/c-prev.png" alt="" /></div>
        <p>C</p>
        <div><button class="hover-animation">Explore</button></div>
      </div>
    </div>
    <div class="card card-6">
      <div class="content">
        <div class="img"><img src="assets/icons/for-more.png" alt="" /></div>
        <p>For More</p>
        <div><button class="hover-animation">Click Here</button></div>
      </div>
    </div>
  </div>
</div>
