<div class="container">
  <div class="title-container">
    <h2 class="title animation">Exploring HTML & CSS</h2>
  </div>

  <div class="html-info-cards">
    <div class="cards card-1">
      <div class="content-container">
        <div class="image">
          <img
            src="../assets/images/demo-img.jpg"
            alt=""
            class="hoverable-image"
          />
        </div>
        <div class="content">Buttons</div>
        <div class="next-icon">
          <img src="assets/icons/for-more.png" alt="" class="hoverable-image" />
        </div>
      </div>
    </div>
    <div class="cards card-2">
      <div class="content-container">
        <div class="image">
          <img
            src="../assets/images/demo-img.jpg"
            alt=""
            class="hoverable-image"
          />
        </div>
        <div class="content">Box Shadow</div>
        <div class="next-icon">
          <img
            src="assets/icons/for-more.png"
            alt=""
            class="hoverable-image"
            routerLink="/home/html/box-shadow"
          />
        </div>
      </div>
    </div>
    <div class="cards card-3">
      <div class="content-container">
        <div class="image">
          <img
            src="../assets/images/demo-img.jpg"
            alt=""
            class="hoverable-image"
          />
        </div>
        <div class="content">Cards</div>
        <div class="next-icon">
          <img src="assets/icons/for-more.png" alt="" class="hoverable-image" />
        </div>
      </div>
    </div>
    <div class="cards card-4">
      <div class="content-container">
        <div class="image">
          <img
            src="../assets/images/demo-img.jpg"
            alt=""
            class="hoverable-image"
          />
        </div>
        <div class="content">Header</div>
        <div class="next-icon">
          <img src="assets/icons/for-more.png" alt="" class="hoverable-image" />
        </div>
      </div>
    </div>
    <div class="cards card-5">
      <div class="content-container">
        <div class="image">
          <img
            src="../assets/images/demo-img.jpg"
            alt=""
            class="hoverable-image"
          />
        </div>
        <div class="content">Footer</div>
        <div class="next-icon">
          <img src="assets/icons/for-more.png" alt="" class="hoverable-image" />
        </div>
      </div>
    </div>
    <div class="cards card-6">
      <div class="content-container">
        <div class="image">
          <img
            src="../assets/images/demo-img.jpg"
            alt=""
            class="hoverable-image"
          />
        </div>
        <div class="content">Forms</div>
        <div class="next-icon">
          <img
            src="assets/icons/for-more.png"
            alt=""
            routerLink="/home/html/form"
            class="hoverable-image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
